<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <script src="https://kit.fontawesome.com/05f083f1a4.js" crossorigin="anonymous"></script>
    <link rel="icon" href="~/Assets/images/Layout/logo.png" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)

</head>
<body>
    <div class="mainlayout-header table-header-group" style="z-index:1">
        <div class="m-header-title">
            <a href="#" class="m-h-title-a">
                <img src="~/Assets/images/Layout/logo.png" alt="">
                <h3>Little Happy Sheep</h3>
            </a>
        </div>

        <nav class="m-header-options text-left">
            <label for="main-layout-check" class="main-layout-label"><i class="fa fa-bars"></i></label>
            <input type="checkbox" id="main-layout-check" class="main-layout-checkbox">
            <div class="m-h-options-item">
                <ul>
                    <li><a class="m-h-o-items-a" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i>Home</a></li>
                    <li><a class="m-h-o-items-a" href="@Url.Action("Newitem", "News")"><i class="fas fa-rss"></i>News</a></li>
                    <li><a class="m-h-o-items-a" href="@Url.Action("Index", "Library")"><i class="fas fa-book-open"></i>Library</a></li>
                    <li><a class="m-h-o-items-a" href="@Url.Action("Index", "WishList")"><i class="far fa-grin-tongue"></i>Wish List</a></li>
                    <li><a class="m-h-o-items-a" href="@Url.Action("Index", "Redeem")"><i class="fas fa-ticket-alt"></i>Redeem voucher</a></li>
                    <li><a class="m-h-o-items-a" href="#"><i class="fas fa-clipboard-check"></i>Discount</a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
    </div>

    <div class="mainlayout-body table-row-group">
        @RenderBody()
        <div class="mainlayout-footer col-lg-12">
            <p>
                © 2020, Epic Games, Inc. All rights reserved. Epic, Epic Games, the Epic Games logo, Fortnite, the
                Fortnite logo, Unreal, Unreal Engine, the Unreal Engine logo, Unreal Tournament, and the Unreal
                Tournament logo are trademarks or registered trademarks of Epic Games, Inc. in the United States of
                America and elsewhere. Other brands or product names are the trademarks of their respective owners.
                Non-US transactions through Epic Games International, S.à r.l.
            </p>
            <div class="m-footer-logo text-right col-lg-12">
                <i class="fas fa-toilet"></i>
            </div>
            <div class="m-footer-pointword">
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Store Refund Policy</a>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
