<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <script src="https://kit.fontawesome.com/05f083f1a4.js" crossorigin="anonymous"></script>
    <link rel="icon" href="~/Assets/images/Layout/logo.png" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)

</head>
<body>
    <div class="mainlayout-header table-header-group" style="z-index:1">
        <div class="m-header-title">
            <a href="#" class="m-h-title-a">
                <img src="~/Assets/images/Layout/logo.png" alt="">
                <h3>Little Happy Sheep</h3>
            </a>
        </div>

        <nav class="m-header-options text-left">
            <label for="main-layout-check" class="main-layout-label"><i class="fa fa-bars"></i></label>
            <input type="checkbox" id="main-layout-check" class="main-layout-checkbox">
            <div class="m-h-options-item">
                <ul>
                    <li><a class="m-h-o-items-a" href="#"><i class="fas fa-home"></i>Home</a></li>
                    <li><a class="m-h-o-items-a" href="#"><i class="fab fa-shopify"></i>Store</a></li>
                    <li><a class="m-h-o-items-a" href="#"><i class="fas fa-rss"></i>News</a></li>
                    <li><a class="m-h-o-items-a" href="#"><i class="fas fa-book-open"></i>Library</a></li>
                    <li><a class="m-h-o-items-a" href="#"><i class="far fa-grin-tongue"></i>Wish List</a></li>
                    <li>
                        <a class="m-h-o-items-a" href="#"><i class="fas fa-user-circle"></i>Your Information</a>
                    </li>
                    <li><a class="m-h-o-items-a" href="#"><i class="fas fa-ticket-alt"></i>Redeem voucher</a></li>
                    <li><a class="m-h-o-items-a" href="#"><i class="fas fa-clipboard-check"></i>Discount</a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
    </div>

    <div class="mainlayout-body table-row-group">
        @RenderBody()
        <div class="mainlayout-footer col-lg-12">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium rem corporis veritatis? Dolor
                consectetur nostrum pariatur voluptate perferendis cupiditate, eaque vel deserunt, debitis ad
                repudiandae corporis soluta, voluptatibus tempora atque!
            </p>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
