@model IEnumerable<Epic_Game_Backstage.ViewModels.OrderManageViewModel>


<div class="orderManage-table">
    <table class="table text-left">
        <tr>
            <th>
                @Html.ActionLink("UserID", "ordersearchsort", new { sort = "UserID", nowsort = ViewBag.Nowsort })
            </th>
            <th>
                @Html.ActionLink("ProductID", "ordersearchsort", new { sort = "ProductID", nowsort = ViewBag.Nowsort })
            </th>
            <th>
                @Html.ActionLink("Date", "ordersearchsort", new { sort = "Date", nowsort = ViewBag.Nowsort })
            </th>
            <th>
                @Html.ActionLink("Payment", "ordersearchsort", new { sort = "Payment", nowsort = ViewBag.Nowsort })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                @*<td class="on-table-button">
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
                </td>*@
            </tr>
        }

    </table>
</div>
