@model Epic_Game.ViewModels.WishListViewModel

<li class="wishList-ListItem">
    <div class="wishItem">
        <a href="@Url.Action("Index","Product")" class="col itemInfo">
            <div class="wishItem-ImgArea">
                <img src="@Model.Img_Url">
            </div>
            <div class="wishItem-infoArea col">
                <div class="infoArea-productName">
                    <p>@Model.ProductName</p>
                </div>
                <div class="infoArea-productPrice">
                    <p>@Model.Price</p>
                </div>
            </div>
        </a>
        <div class="wishItem-btnArea">
            <button class="changeHeart" id="@Model.ProductID">
                <i class="fas fa-heart"></i>
            </button>
        </div>
    </div>