
@{
    ViewBag.Title = "Finish";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/Assets/css/finish.css" rel="stylesheet" />

<div class="finish_screen">
    <div class="logo">
        <img src="~/Assets/images/EpicGamePayImg/logo.png" alt="logo">
    </div>
    <div class="text">
        <span>感謝您!</span>
        <span>電子信箱收據已寄送給您。</span>
        <span>請至<a href="@Url.Action("Index","Library")">收藏庫</a>查看。</span>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    $(function () {
        $.ajax({
            url: "/Pay/CreatOrder"
        })
    });
    //setTimeout("location.href ='@Url.Action("Index","Library")'", 1000);
</script>