@model Epic_Game.ViewModels.PayViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    var Price =  string.Format("{0:####.#}", Model.Price);
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<link href="~/Assets/css/pay.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="detail col-12 col-md-3 col-lg-3">
            <h5>訂單摘要</h5>
            <div class="game d-flex">
                <div class="game_pic">
                    <img src="@Model.ImgUrl" alt=""
                         class="d-block w-100">
                </div>
                <div class="game_text">
                    <h5>@Model.ProductName</h5>
                    <span>由 @Model.Publisher</span>
                </div>
            </div>
            <div class="tp price">
                <div class="price_price d-flex justify-content-between">
                    <span class="span_color">價格</span>
                    <span>USD $@Price</span>
                </div>
                <div class="price_text">
                    <span class="span_color">若適用則包括增值稅</span>
                </div>
            </div>
            <div class="tp total">
                <div class="total_price d-flex justify-content-between">
                    <span class="span_color">總計</span>
                    <span>USD $@Price</span>
                </div>
                <div class="total_pay d-flex justify-content-between">
                    <span>您的支付</span>
                    <span>USD $@Price</span>
                </div>
            </div>
            <div class="input_creater">
                <input name="affiliateSlug" placeholder="請輸入一個創作者標籤" value="" autocomplete="off" class="user_input">
                <i class="fas fa-info-circle"></i>
            </div>
            <div class="form-check email_ckeck">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    點擊此處以和 Coffee Stain Studios 分享您的電子信箱。 Coffee Stain Studios 將依據其<a href="">隱私權政策</a>來使用您的電子信箱地址，因此我們建議您閱讀它。
                </label>
            </div>
            <div class="help">
                <span>需要幫助嗎？ <a href="">聯絡我們</a></span>
            </div>
            <div class="confirm-container col-xs-12">
                <button class="btn btn-primary" id="SendRequest">
                    <span>結帳</span>
                </button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    var productid = "@Model.ProductId";

    $('#SendRequest').click(function () {
        $.ajax({
            url: "/Pay/ToECpay",
            type: "post",
            data: { jdata: productid },
            success: function (data) {
                window.location.href = data;
            }
        })
    })
</script>