@model Epic_Game.ViewModels.PayViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    var Price = string.Format("{0:####.#}", Model.Price);
    var discountprice = decimal.Round(Model.Discount * Model.Price);
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<link href="~/Assets/css/pay.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="detail col-12 col-md-6 col-lg-4">
            <h5>ORDER SUMMARY</h5>
            <div class="game d-flex">
                <div class="game_pic">
                    <img src="@Model.ImgUrl" alt=""
                         class="d-block w-100">
                </div>
                <div class="game_text">
                    <h5>@Model.ProductName</h5>
                    <span>By @Model.Publisher</span>
                </div>
            </div>
            <div class="tp price">

                <div class="price_price d-flex justify-content-between">
                    @if (discountprice == 0)
                    {
                        <span class="span_color">Price</span>
                        <span style="text-decoration: line-through">TWD $@Price</span>
                    }
                    else if (Model.Discount == 1)
                    {
                        <span class="span_color">Price</span>
                        <span>TWD $@Price</span>
                    }
                    else
                    {
                        <span class="span_color">Price</span>
                        <span style="text-decoration: line-through">TWD $@Price</span>
                    }
                </div>
                <div class="price_text">
                    <span class="span_color">VAT included if applicable</span>
                </div>
            </div>
            <div class="tp total">
                <div class="total_price d-flex justify-content-between">
                    @if (discountprice == 0)
                    {
                        <span class="span_color">折扣</span>
                        <span>Free</span>
                    }
                    else if (Model.Discount == 1)
                    {

                    }
                    else
                    {
                <span class="span_color">Discount</span>
                        <span>@decimal.Round(Model.Discount * 100)%</span>
                    }
                </div>
                <div class="total_pay d-flex justify-content-between">
                    @if (discountprice == 0)
                    {
                    <span>Total</span>
                        <span>Free</span>
                    }
                    else if (Model.Discount == 1)
                    {
                <span>Total</span>
                        <span>TWD $@Price</span>
                    }
                    else
                    {
                <span>Total</span>
                        <span>TWD $@discountprice</span>
                    }
                </div>
            </div>
            <div class="input_creater">
                <input name="affiliateSlug" placeholder="ENTER A CREATOR TAG" value="" autocomplete="off" class="user_input">
                <i class="fas fa-info-circle"></i>
            </div>
            <div class="form-check email_ckeck">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Click here to share your email with @Model.Publisher.@Model.Publisher will use your email address in accordance with its <a href="">privacy policy</a>, so we encourage you to read it.
                </label>
            </div>
            <div class="help">
                <span>Need Help? <a href="">Contact Us</a></span>
            </div>
            <div class="confirm-container col-xs-12">
                @if (discountprice == 0)
                {
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("CreatOrder", "Pay",new { productid = Model.ProductId})'">
                        <span>CHECKOUT</span>
                    </button>
                }

                else
                {
                    <button class="btn btn-primary" id="SendRequest">
                        <span>CHECKOUT</span>
                    </button>
                }

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    var productid = "@Model.ProductId";

    $('#SendRequest').click(function () {
        $.ajax({
            url: "/Pay/ToECpay",
            type: "post",
            data: { jdata: productid },
            success: function (data) {
                window.location.href = data;
            }
        })
    })
</script>