@model Epic_Game.ViewModels.UserInfoViewModel

@{
    ViewBag.Title = "General";
    var m = Model;
}

@section topCSS{
    <link href="~/Assets/css/UserAccount/account_general.css" rel="stylesheet" />
    <link href="~/Assets/css/UserAccount/account_Layout.css" rel="stylesheet" />
}

@section endJS{
    <script src="https://kit.fontawesome.com/05f083f1a4.js" crossorigin="anonymous"></script>
    <script src="~/Assets/Js/UserAccountGeneral.js"></script>

    <script>
    @*set desgard changes function to btn*@
    let desgardBtn = document.querySelector('#desgardBtn');
    desgardBtn.addEventListener('click', function () {
        document.querySelector('#userAddressI').value = "@Model.AddressLine";
        document.querySelector('#userCity').value = "@Model.City";
        document.querySelector('#userPostalCode').value = "@Model.Postalcode";
        document.querySelector('#userCountry').value = "@Model.Country";
    })
    </script>
}

<div class="container">
    <div class="row">
        @Html.Partial("_NavListPartial")

        <!-- Account Management Contents -->
        <div class="col-lg-9 col-md-12">
            <div class="personal-info-container">
                <div class="row pageTitleSection">
                    <div class="col">
                        <div class="textArea">
                            <p class="textTitle">GENERAL SETTINGS</p>
                            <p class="text-gray">
                                Manage the account details you've shared with Epic Games including
                                your name, contact info and more
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row accountInfoSection">
                    <div class="col">
                        <div class="accountInfoArea">
                            <p class="textTitle">Account Info</p>
                            <div class="accountId">
                                <label>ID:</label>
                                <p class="thin-text">@m.UserID</p>
                            </div>
                        </div>
                        <div class="nameAndEmail row">
                            <div class="col-12 col-lg-6">
                                <div class="formArea formArea-btn row">
                                    <div class="col">
                                        <input type="text" id="accountDisplayName" calss="col" value="@m.DisplayName"
                                               placeholder="DISPLAY NAME">
                                    </div>
                                    <button class="editBtn">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="formArea formArea-btn row">
                                    <div class="col">
                                        <input type="text" id="accountEmail" calss="col" value="@m.Email"
                                               placeholder="EMAIL EDDRESS">
                                    </div>
                                    <button class="editBtn">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row personalInfoSection">
                    <div class="col">
                        <div class="personalInfoArea">
                            <p class="textTitle">PERSONAL DETAILS</p>
                            <p class="text-gray">
                                Manage your name and contact info. These personal details are
                                private and will not be displayed to other users. View our Privacy Policy
                            </p>
                        </div>
                        <div class="nameAndLang row">
                            <div class="col-12 col-lg-6">
                                <div class="formArea row">
                                    <div class="col">
                                        <input type="text" id="userFirstName" calss="col" value="@m.FirstName"
                                               placeholder="FIRST NAME">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="formArea row">
                                    <div class="col">
                                        <input type="text" id="userLastName" calss="col" value="@m.LastName"
                                               placeholder="LAST NAME">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="formArea row">
                                    <div class="col">
                                        <p class="smallText">Birthday</p>
                                        <div class="row">
                                            <div class="col-6">
                                                <select id="BD_year"></select>
                                            </div>
                                            <div class="col-3">
                                                <select id="BD_month"></select>

                                            </div>
                                            <div class="col-3">
                                                <select id="BD_date"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-12 col-lg-6">
                                    <div class="formArea row">
                                        <div class="col">
                                            <select id="userPreferLang" selected="@m.PreferLang">
                                                <option name="tch" id="0">繁體中文</option>
                                                <option name="eng" id="1">English</option>
                                                <option name="jap" id="2">日本語</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="row personalInfoSection">
                    <div class="col">
                        <div class="personalInfoArea">
                            <p class="textTitle">ADDRESS</p>
                        </div>
                        <div class="userAddress row">
                            <div class="col-12">
                                <div class="formArea row">
                                    <div class="col">
                                        <input type="text" id="userAddressI" calss="col" value="@m.AddressLine"
                                               placeholder="Address Line">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="formArea row">
                                    <div class="col">
                                        <input type="text" id="userCity" calss="col" value="@m.City" placeholder="city">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="formArea row">
                                    <div class="col">
                                        <input type="text" id="userPostalCode" calss="col" value="@m.Postalcode"
                                               placeholder="postal code">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="formArea row">
                                    <div class="col">
                                        <p class="smallText">Country</p>
                                        <input type="text" id="userCountry" calss="col" value="@m.Country"
                                               placeholder="Country">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <div class="btnArea">
                                            <button class="gray-button" id="desgardBtn">Desgard Changes</button>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <div class="btnArea">
                                            <button class="blue-button" id="saveBtn">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row companySection nextSection">
                        <div class="col">
                            <div class="personalInfoArea">
                                <p class="textTitle">Company</p>
                                <p class="text-gray">
                                    Manage your company information used for business VAT receipts for
                                    your purchase(s). Learn more
                                </p>
                            </div>
                            <div class="companyInfo row">
                                <div class="col-12 col-lg-6">
                                    <div class="formArea row">
                                        <div class="col">
                                            <p class="smallText">Company Name</p>
                                            <input type="text" id="userCompanyName" calss="col" value=""
                                                   placeholder="Company Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="formArea row">
                                        <div class="col">
                                            <p class="smallText">Company Vat Number</p>
                                            <input type="text" id="userCompanyName" calss="col" value=""
                                                   placeholder="Company Vat Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row companyAddressSection">
                        <div class="col">
                            <div class="personalInfoArea">
                                <p class="textTitle">Company address</p>
                            </div>
                            <div class="row companyAddressInfo">
                                <div class="col-12 col-lg-6">
                                    <div class="formArea row">
                                        <div class="col">
                                            <input type="text" id="CompanyAddressI" calss="col" value=""
                                                   placeholder="Address line i">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="formArea row">
                                        <div class="col">
                                            <input type="text" id="CompanyAddressII" calss="col" value=""
                                                   placeholder="Address line ii">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="formArea row">
                                        <div class="col">
                                            <input type="text" id="CompanyCity" calss="col" value="" placeholder="city">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="formArea row">
                                        <div class="col">
                                            <input type="text" id="CompanyRegion" calss="col" value=""
                                                   placeholder="region">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="formArea row">
                                        <div class="col">
                                            <input type="text" id="CompanyPostalCode" calss="col" value=""
                                                   placeholder="postal code">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-6 col-lg-3">
                                            <div class="btnArea">
                                                <button class="gray-button">Desgard Changes</button>
                                            </div>
                                        </div>
                                        <div class="col-6 col-lg-3">
                                            <div class="btnArea">
                                                <button class="blue-button">Save Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="row parentalSection nextSection">
                    <div class="col">
                        <div class="parentalArea">
                            <p class="textTitle">PARENTAL CONTROLS</p>
                        </div>
                        <div class="row">
                            <div class="parentalInfoArea col-12 col-lg-8 formArea flex-c">
                                <p class="text-gray">
                                    You can use the parental controls to adjust your account's
                                    access to mature games.
                                </p>
                            </div>
                            <div class="parentalInfoArea col-12 col-lg-4 formArea">
                                <button class="blue-button" id="parentalSetup">BEGIN SETUP</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row deleteAccountSection nextSection">
                    <div class="col">
                        <div class="deleteAccountArea">
                            <p class="textTitle">DELETE ACCOUNT</p>
                        </div>
                        <div class="row">
                            <div class="deleteInfoArea col-12 col-lg-8 formArea flex-c">
                                <p class="text-gray">Start the process of deleting your Epic Games account including all purchases, game progress, in-game content, and Unreal projects permanently.</p>
                                <p><span class="text-red">This action is irreversible and your account will be disabled once submitted.</span></p>
                            </div>
                            <div class="parentalInfoArea col-12 col-lg-4 formArea">
                                <button class="blue-button" id="parentalSetup">BEGIN SETUP</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Account Management Contents -->
            </div>
        </div>
    </div>
</div>