
@model IEnumerable<Epic_Game_Backstage.ViewModels.NewsManageViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("顯示全部", "searchsort")
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="form-group">

            <text>Author</text>@Html.RadioButton("option", "Author", htmlAttributes: new { @class = "Radioclass" ,@checked = true })
            <text>NewsTitle</text>@Html.RadioButton("option", "NewsTitle", htmlAttributes: new { @class = "Radioclass" })
            <text>Date</text>@Html.RadioButton("option", "Date", htmlAttributes: new { @class = "Radioclass" })
            <text>Description</text>@Html.RadioButton("option", "Description", htmlAttributes: new { @class = "Radioclass" })
            <text>NewsImg</text>@Html.RadioButton("option", "NewsImg", htmlAttributes: new { @class = "Radioclass" })
            <p>
                @Html.Label("search")@Html.TextBox("search")
            </p>
            <p><input type="submit" value="查詢" class="btn btn-primary" /></p>
        </div>
    </div>

    if (Model != null)
    {
        @Html.Partial("NewsPartail", Model);

    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


