@model Epic_Game.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Index";

    var discountprice = decimal.Round(Model.PD_Discount * Model.PD_Price);
    var tags = string.Empty;
    foreach (var tag in Model.PD_Category)
    {
        tags += ("," + " " + tag);
        //tags += tag;
    }
    tags = tags.TrimStart(',').Trim();

    string JsonSpec = Json.Encode(Model.PD_Specificatoin);
    bool b = Model.PD_Specificatoin[0] == null;

}
@section topCSS{
    <link href="~/Assets/css/product_style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css" />
}

@section topJS{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
}

@section endJS{
    <script src="~/Assets/Js/product_vue.js"></script>
    <script src="~/Assets/Js/product_js.js"></script>
}
<!-- 導覽列------------------------------- -->
<div class="container-fluid shopback">
    <div class="row">
        <div class="col" style="padding:0">
            <div class="NavListArea">
                <div class="NavList">
                    <input type="checkbox" id="checkControl" class="check_control">
                    <label for="checkControl" class="checkBoxlabel">
                        @Model.PD_ProductName
                        <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="div_itemlist">
                        <ul class="itemList">
                            <li><a href="@Url.Action("Index","Home")">Back to Store</a></li>
                            <li>@Model.PD_ProductName</li>
                        </ul>
                    </div>
                    <nav class="navbar navbar-dark">
                        <form class="form-inline">
                            <input class="form-control  bg-outline-dark col-12 col-xl-12" type="search" placeholder="Search"
                                   aria-label="Search" />
                            <button class="searchbtn" disabled>
                                <svg class="bi bi-search" width="1em"
                                     height="1em" viewBox="0 0 16 16" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                          clip-rule="evenodd" />
                                    <path fill-rule="evenodd"
                                          d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                          clip-rule="evenodd" />
                                </svg>
                            </button>
                        </form>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 影片------------------------------- -->
<div class="swiper-container">
    <div class="swiper-wrapper">

        @foreach (var swiper in Model.PD_image)
        {
            if (swiper.Image_Location == 2)
            {
                @Html.Partial("_Swiper", swiper)
            }
        }
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<!-- 產品描述------------------------------- -->
<div class="container allblock" id="game_pic">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-3 pic_img">
            <img src="@Model.PD_image.FirstOrDefault(x => x.Image_Location == 1).Image_URL" alt="" class="d-block  w-100 pic data-pic">

        </div>
        <div class="col-12 col-md-6 col-xl-6">
            <p class="game_pic_text">
                @Model.PD_Title
            </p>
        </div>
        <div class="col-12 col-md-12 col-xl-3" id="game_pic_price">
            <div class="game_pic_know_rightrow">
                <div class="game_pic_pricewrapper">
                    <div class="game_pic_price">
                        @if (discountprice == 0)
                        {
                            <span class="cost">TWD$@decimal.Round(@Model.PD_Price)</span>
                            <span class="discount" style="background-color:initial; font-size:20px; color:white">
                                Free
                            </span>

                        }
                        else if (Model.PD_Discount == 1)
                        {
                            <span class="price_original" style="color: #e7e7e7;">TWD$@discountprice</span>
                        }
                        else
                        {
                            <span class="discount">
                                @decimal.Round(Model.PD_Discount * 100)%
                            </span>
                            <span class="cost">TWD$@decimal.Round(@Model.PD_Price)</span>
                            <span class="price_original" style="color: #e7e7e7;">TWD$@discountprice</span>
                        }

                    </div>
                </div>
                <div class="game_pic_btn_div">
                    <div class="game_pic_btn_left">
                        <a href="@Url.Action("Index","Pay")" type="button" class="game_pic_give btn_buy" style="text-decoration: none;">
                            @if (Model.Library_Condition == 0)
                            {
                                <span style="font-size: 16px;">Aready Purchased</span>
                            }
                            else
                            {
                                <span style="font-size: 16px;">BUY NOW</span>
                            }

                        </a>
                        <div class="game_pic_btn_right">
                            <div class="game_pic_btn_container">
                                <div class="game_pic_btn_content">
                                    @if (Model.Library_Condition == 2)
                                    {
                                        <button class="game_pic_btn_love btn_love " id="@Model.PD_ProductID">
                                            <span><i id="fa" class="far fa-heart"></i></span>
                                        </button>
                                    }
                                    else if (Model.Library_Condition == 1)//願望清單
                                    {
                                        <button class="game_pic_btn_love btn_love " id="@Model.PD_ProductID">
                                            <span><i id="fa" class="fas fa-heart"></i></span>
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 關於遊戲------------------------------- -->
<div class="container allblock" id="aboutgame">
    <div class="row">
        <div class="col-12 col-xl-3">
            <h3 class="title_name">About Game</h3>
        </div>
        <div class="col-12 col-xl-9">
            <div class="aboutgame_tag">
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Developer</span>
                    <p>@Model.PD_Developer</p>
                </div>
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Publisher</span>
                    <p>@Model.PD_Publisher</p>
                </div>
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Release Date</span>
                    <p>@Model.PD_ReleaseDate</p>
                </div>
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Tags</span>
                    <p>@tags</p>
                </div>
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Rating</span>
                    @if (Model.PD_AgeRestriction.Equals("17"))
                    {
                        <p>MATURE　@Model.PD_AgeRestriction＋</p>
                    }
                    else if (Model.PD_AgeRestriction.Equals("14"))
                    {
                        <p>TEEN</p>
                    }
                    else if (Model.PD_AgeRestriction.Equals("0"))
                    {
                        <p>-</p>
                    }
                </div>
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Platform</span>
                    <p>
                        @if (Model.OS == 1)
                        {
                            <i class="fab fa-windows"></i>
                        }
                        else if (Model.OS == 2)
                        {
                            <i class="fab fa-apple"></i>
                        }
                        else if (Model.OS == 3)
                        {
                            <i class="fab fa-windows"></i>
                            <i class="fab fa-apple"></i>
                        }
                    </p>
                </div>
            </div>
            <div class="aboutgame_content ">
                <a href="#show" class="show btn" id="show">SHOW MORE</a>
                <a href="#hide" class="hide btn" id="hide">SHOW LESS</a>
                <div class="panel">
                    <main>
                        <article>
                            <p>@Html.Raw(Model.PD_Description)</p>
                        </article>
                    </main>
                    @*<div class="collapse_pic">
                        <div class="col-12 col-md-6">
                            <img src="~/Assets/images/EpicGameProduct/borderlands_add1.jpg" alt="">
                        </div>
                        <div class="col-12 col-md-6">
                            <img src="~/Assets/images/EpicGameProduct/borderlands_add2.jpg" alt="">
                        </div>
                    </div>*@

                </div>
                <div class="fade"></div>
            </div>
        </div>
    </div>
</div>
<!-- 版本------------------------------- -->
@*@Html.Partial("_Editions")*@
<!-- 附加------------------------------- -->
@*@Html.Partial("_AddOns")*@

<!-- 追蹤------------------------------- -->
@if (Model.SM.Count() > 0)
{
    @Html.Partial("_Trackus", Model.SM)
}


<!-- 評論------------------------------- -->
@*@if (Model.PD_Comment.Count() > 0)
{*@
    @Html.Partial("_Comments")
@*}*@


<!--規格 ------------------- -->
<div class="container allblock" id="specification">
    <div class="row">
        <div class="col-12 col-xl-3">
            <h3 class="title_name">Specification</h3>
        </div>
        <div class="col-12 col-xl-9">
            <div class="specification_table">
                @if (Model.OS == 1)
                {
                    <div class="title_div" style="padding-left: 15px;">
                        <div class="title_div_div" id="Windows">
                            <span class="span_text">WINDOWS </span>
                        </div>
                    </div>
                }
                else if (Model.OS == 2)
                {
                    <div class="title_div" style="padding-left: 15px;">
                        <div class="title_div_div" id="MACOS">
                            <span class="span_text">MAC OS</span>
                        </div>
                    </div>
                }

                else if (Model.OS == 3)
                {
                    <div class="title_div" style="padding-left: 15px;">
                        <div class="title_div_div" id="Windows" v-on:click="changeWin">
                            <span class="span_text">WINDOWS </span>
                        </div>
                        <div class="title_div_div" id="MACOS" v-on:click="changeOS">
                            <span class="span_text">MAC OS</span>
                        </div>
                    </div>
                }
                <div>
                    <div v-show="isOS == false" class="table win col-12">
                        <div class="speci col-6" v-if="specArray[0] != null">
                            <div class="win_min"><span class="big_title_span">Minimum</span></div>

                            <div class="small_title_span" v-if="specArray[0].SPE_OS != null"><span>OS</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_OS != null">{{specArray[0].SPE_OS}}</span>

                            <div class="small_title_span" v-if="specArray[0].SPE_CPU != null"><span>CPU</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_CPU != null">{{specArray[0].SPE_CPU}}</span>

                            <div class="small_title_span" v-if="specArray[0].SPE_GPU != null"><span>GPU</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_GPU != null">{{specArray[0].SPE_GPU}}</span>

                            <div class="small_title_span" v-if="specArray[0].SPE_Memory != null"><span>Memory</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_Memory != null">{{specArray[0].SPE_Memory}}</span>

                            <div class="small_title_span" v-if="specArray[0].SPE_Storage != null"><span>Storage</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_Storage != null">{{specArray[0].SPE_Storage}}</span>

                            <div class="small_title_span" v-if="specArray[0].SPE_Processor != null"><span>Processor</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_Processor != null">{{specArray[0].SPE_Processor}}</span>

                            <div class="small_title_span" v-if="specArray[0].SPE_RAM != null"><span>RAM</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_RAM != null">{{specArray[0].SPE_RAM}}</span>

                            <div class="small_title_span" v-if="specArray[0].SPE_Storag != null"><span>Storag</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_Storag != null">{{specArray[0].SPE_Storag}}</span>

                            <div class="small_title_span" v-if="specArray[0].SPE_GraphiceCard != null"><span>GraphiceCard</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_GraphiceCard != null">{{specArray[0].SPE_GraphiceCard}}</span>

                            <div class="small_title_span" v-if="specArray[0].SPE_HDD != null"><span>HDD</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_HDD != null">{{specArray[0].SPE_HDD}}</span>

                            <div class="small_title_span" v-if="specArray[0].SPE_DirectX != null"><span>DirectX</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_DirectX != null">{{specArray[0].SPE_DirectX}}</span>

                            <div class="small_title_span" v-if="specArray[0].SPE_Additional != null"><span>Additional</span></div>
                            <span class="span_text" v-if="specArray[0].SPE_Additional != null">{{specArray[0].SPE_Additional}}</span>
                        </div>

                        <div class="speci col-6" v-if="specArray[1] != null">
                            <div class="win_min"><span class="big_title_span">Recommended</span></div>

                            <div class="small_title_span" v-if="specArray[1].SPE_OS != null"><span>OS</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_OS != null">{{specArray[1].SPE_OS}}</span>

                            <div class="small_title_span" v-if="specArray[1].SPE_CPU != null"><span>CPU</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_CPU != null">{{specArray[1].SPE_CPU}}</span>

                            <div class="small_title_span" v-if="specArray[1].SPE_GPU != null"><span>GPU</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_GPU != null">{{specArray[1].SPE_GPU}}</span>

                            <div class="small_title_span" v-if="specArray[1].SPE_Memory != null"><span>Memory</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_Memory != null">{{specArray[1].SPE_Memory}}</span>

                            <div class="small_title_span" v-if="specArray[1].SPE_Storage != null"><span>Storage</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_Storage != null">{{specArray[1].SPE_Storage}}</span>

                            <div class="small_title_span" v-if="specArray[1].SPE_Processor != null"><span>Processor</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_Processor != null">{{specArray[1].SPE_Processor}}</span>

                            <div class="small_title_span" v-if="specArray[1].SPE_RAM != null"><span>RAM</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_RAM != null">{{specArray[1].SPE_RAM}}</span>

                            <div class="small_title_span" v-if="specArray[1].SPE_Storag != null"><span>Storag</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_Storag != null">{{specArray[1].SPE_Storag}}</span>

                            <div class="small_title_span" v-if="specArray[1].SPE_GraphiceCard != null"><span>GraphiceCard</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_GraphiceCard != null">{{specArray[1].SPE_GraphiceCard}}</span>

                            <div class="small_title_span" v-if="specArray[1].SPE_HDD != null"><span>HDD</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_HDD != null">{{specArray[1].SPE_HDD}}</span>

                            <div class="small_title_span" v-if="specArray[1].SPE_DirectX != null"><span>DirectX</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_DirectX != null">{{specArray[1].SPE_DirectX}}</span>

                            <div class="small_title_span" v-if="specArray[1].SPE_Additional != null"><span>Additional</span></div>
                            <span class="span_text" v-if="specArray[1].SPE_Additional != null">{{specArray[1].SPE_Additional}}</span>
                        </div>
                    </div>
                    <div v-show="isOS == true" class="table mac col-12">
                        <div class="speci col-6" v-if="specArray[2] != null">
                            <div class="win_min"><span class="big_title_span">Minimum</span></div>

                            <div class="small_title_span" v-if="specArray[2].SPE_OS != null"><span>OS</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_OS != null">{{specArray[2].SPE_OS}}</span>

                            <div class="small_title_span" v-if="specArray[2].SPE_CPU != null"><span>CPU</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_CPU != null">{{specArray[2].SPE_CPU}}</span>

                            <div class="small_title_span" v-if="specArray[2].SPE_GPU != null"><span>GPU</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_GPU != null">{{specArray[2].SPE_GPU}}</span>

                            <div class="small_title_span" v-if="specArray[2].SPE_Memory != null"><span>Memory</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_Memory != null">{{specArray[2].SPE_Memory}}</span>

                            <div class="small_title_span" v-if="specArray[2].SPE_Storage != null"><span>Storage</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_Storage != null">{{specArray[2].SPE_Storage}}</span>

                            <div class="small_title_span" v-if="specArray[2].SPE_Processor != null"><span>Processor</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_Processor != null">{{specArray[2].SPE_Processor}}</span>

                            <div class="small_title_span" v-if="specArray[2].SPE_RAM != null"><span>RAM</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_RAM != null">{{specArray[2].SPE_RAM}} </span>

                            <div class="small_title_span" v-if="specArray[2].SPE_Storag != null"><span>Storag</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_Storag != null"> {{specArray[2].SPE_Storag}}</span>

                            <div class="small_title_span" v-if="specArray[2].SPE_GraphiceCard != null"><span>GraphiceCard</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_GraphiceCard != null"> {{specArray[2].SPE_GraphiceCard}}</span>

                            <div class="small_title_span" v-if="specArray[2].SPE_HDD != null"><span>HDD</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_HDD != null"> {{specArray[2].SPE_HDD}}</span>

                            <div class="small_title_span" v-if="specArray[2].SPE_DirectX != null"><span>DirectX</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_DirectX != null"> {{specArray[2].SPE_DirectX}}</span>

                            <div class="small_title_span" v-if="specArray[2].SPE_Additional != null"><span>Additional</span></div>
                            <span class="span_text" v-if="specArray[2].SPE_Additional != null">{{specArray[2].SPE_Additional}}</span>
                        </div>


                        <div class="speci col-6" v-if="specArray[3] != null">
                            <div class="win_min"><span class="big_title_span">Recommended</span></div>

                            <div class="small_title_span" v-if="specArray[3].SPE_OS != null"><span>OS</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_OS != null">{{specArray[3].SPE_OS}}</span>

                            <div class="small_title_span" v-if="specArray[3].SPE_CPU != null"><span>CPU</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_CPU != null">{{specArray[3].SPE_CPU}}</span>

                            <div class="small_title_span" v-if="specArray[3].SPE_GPU != null"><span>GPU</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_GPU != null">{{specArray[3].SPE_GPU}}</span>

                            <div class="small_title_span" v-if="specArray[3].SPE_Memory != null"><span>Memory</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_Memory != null">{{specArray[3].SPE_Memory}}</span>

                            <div class="small_title_span" v-if="specArray[3].SPE_Storage != null"><span>Storage</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_Storage != null">{{specArray[3].SPE_Storage}}</span>

                            <div class="small_title_span" v-if="specArray[3].SPE_Processor != null"><span>Processor</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_Processor != null"> {{specArray[3].SPE_Processor}}</span>

                            <div class="small_title_span" v-if="specArray[3].SPE_RAM != null"><span>RAM</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_RAM != null">{{specArray[3].SPE_RAM}}</span>

                            <div class="small_title_span" v-if="specArray[3].SPE_Storag != null"><span>Storag</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_Storag != null">{{specArray[3].SPE_Storag}}</span>

                            <div class="small_title_span" v-if="specArray[3].SPE_GraphiceCard != null"><span>GraphiceCard</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_GraphiceCard != null">{{specArray[3].SPE_GraphiceCard}}</span>

                            <div class="small_title_span" v-if="specArray[3].SPE_HDD != null"><span>HDD</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_HDD != null">{{specArray[3].SPE_HDD}}</span>

                            <div class="small_title_span" v-if="specArray[3].SPE_DirectX != null"><span>DirectX</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_DirectX != null">{{specArray[3].SPE_DirectX}}</span>

                            <div class="small_title_span" v-if="specArray[3].SPE_Additional != null"><span>Additional</span></div>
                            <span class="span_text" v-if="specArray[3].SPE_Additional != null"> {{specArray[3].SPE_Additional}}</span>
                        </div>
                    </div>
                    <div>
                        <div class="small_title_span" style="padding-left: 15px;">
                            <span>Languages Supported</span>
                        </div>
                        <ul style="padding-left: 15px;">
                            <li class="li_text">
                                @Model.PD_Languages
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="privacy_policy" style="margin: 0 15px;">
                    <span class="privacy_policy_content">
                        @Model.PD_Privary
                    </span>
                    <a href="@Model.PD_PrivaryUrl" class="privacy_policy_a">
                        <span class="privacy_policy_title">Privacy Policy</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/vue")

<script>
    var a = new Vue({
        el: '#specification',
        data: {
            isOS: false,
            specArray: @Html.Raw(JsonSpec)
        },
        methods: {
            changeWin: function () {
                isOS = false;
                alert(isOS);
            },
            changeOS: function () {

                isOS = true;
                alert(isOS);
            }
        },
    })


</script>
