
@{
    ViewBag.Title = "Index";
}
@section topCSS{
    <link href="~/Assets/css/product_style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css" />
}

@section topJS{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
}

@section endJS{
    <script src="~/Assets/Js/product_js.js"></script>
}
<!-- 導覽列------------------------------- -->
<div class="container shopback">
    <div class="row">
        <div class="col">
            <div class="NavListArea">
                <div class="NavList">
                    <input type="checkbox" id="checkControl" class="check_control">
                    <label for="checkControl" class="checkBoxlabel">
                        Death Coming
                        <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="div_itemlist">
                        <ul class="itemList">
                            <li><a href="@Url.Action("Index","Home")">Back to Store</a></li>
                            <li>Death Coming</li>
                        </ul>
                    </div>
                    <nav class="navbar navbar-dark">
                        <form class="form-inline">
                            <input class="form-control  bg-outline-dark col-12 col-xl-12" type="search" placeholder="Search"
                                   aria-label="Search" />
                            <button class="searchbtn" disabled>
                                <svg class="bi bi-search" width="1em"
                                     height="1em" viewBox="0 0 16 16" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                          clip-rule="evenodd" />
                                    <path fill-rule="evenodd"
                                          d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                          clip-rule="evenodd" />
                                </svg>
                            </button>
                        </form>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 影片------------------------------- -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="rwd-iframe">
                <iframe class="rwd-iframe__target"
                        src="https://www.youtube.com/embed/yWnfWUvN3lc?enablejsapi=1&amp;rel=0&amp;showinfo=0&amp;iv_load_policy=3"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="rwd-iframe">
                <iframe class="rwd-iframe__target"
                        src="https://www.youtube.com/embed/G_2XCUfBrtU?enablejsapi=1&amp;rel=0&amp;showinfo=0&amp;iv_load_policy=3"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="rwd-iframe">
                <iframe class="rwd-iframe__target"
                        src="https://www.youtube.com/embed/QfkDo5HrnfQ?enablejsapi=1&amp;rel=0&amp;showinfo=0&amp;iv_load_policy=3"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<!-- 產品描述------------------------------- -->
<div class="container allblock" id="game_pic">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-3 pic_img">
            <img src="~/Assets/images/EpicGameProduct/death coming_top.png" alt="" class="d-block  w-100 pic data-pic">

        </div>
        <div class="col-12 col-md-6 col-xl-6">
            <p class="game_pic_text">
                'Death Coming' is a non-linear puzzle game where you must harvest human souls
                ‘Final Destination’ style. However, pesky mortals are not your only problem, as the Agents of Light
                will do everything they can
                to stop you.
            </p>
        </div>
        <div class="col-12 col-md-12 col-xl-3" id="game_pic_price">
            <div class="game_pic_know_rightrow">
                <div class="game_pic_pricewrapper">
                    <div class="game_pic_price">
                        <span class="price_original" style="color: #e7e7e7;">US$59.9</span>
                    </div>
                </div>
                <div class="game_pic_btn_div">
                    <div class="game_pic_btn_left">
                        <a href="@Url.Action("Index","Pay")" type="button" class="game_pic_give" style="text-decoration: none;">
                            <span style="font-size: 16px;">BUY NOW</span>
                        </a>
                        <div class="game_pic_btn_right">
                            <div class="game_pic_btn_container">
                                <div class="game_pic_btn_content">
                                    <button class="game_pic_btn_love">
                                        <span>
                                            <i class="far fa-heart"
                                               style="font-size: 15px; padding: 0 5px;"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 關於遊戲------------------------------- -->
<div class="container allblock" id="aboutgame">
    <div class="row">
        <div class="col-12 col-xl-3">
            <h3 class="title_name">About Game</h3>
        </div>
        <div class="col-12 col-xl-9">
            <div class="aboutgame_tag">
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Developer</span>
                    <p>NExT Studios</p>
                </div>
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Publisher</span>
                    <p>NExT Studios</p>
                </div>
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Release Date</span>
                    <p>Nov 7.2017</p>
                </div>
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Tages</span>
                    <p>Casual,Strategy,Puzzle</p>
                </div>
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Rating</span>
                    <p>-</p>
                </div>
                <div class="col-6 col-md-4 aboutgame_about">
                    <span>Platform</span>
                    <p><i class="fab fa-windows"></i></p>
                </div>
            </div>
            <div class="aboutgame_content">
                <div class="aboutgame_text">
                    <img src="~/Assets/images/EpicGameProduct/death coming_content.jpeg" alt="" class="w-100 data_aboutgame">
                    <p class="data_text show_text">
                        New gameplay, unique puzzle. You will play in God's perspective
                        and help Death complete daily task. Search, click, kill and collect souls. Whether right or
                        wrong, it is up to you to find!
                    </p>
                </div>

                <span id="dots"></span><span id="more">
                    <div class="aboutgame_text">
                        <img src="~/Assets/images/EpicGameProduct/death coming_content2.jpeg" alt="" class=" w-100  data_aboutgame">
                        <p class="data_text show_text">
                            Half-sandbox mode, nonlinear gameplay. Abundant themes and
                            various sceneries, hundreds of distinctive dangerous articles are waiting for you! You
                            can use
                            objects alone or try to combine them to make sensible “accidents”. make a zealous click
                            to collect
                            souls!
                        </p>
                    </div>

                    <div class="collapse_pic">
                        <div class="col-12 col-md-6">
                            <img src="~/Assets/images/EpicGameProduct/borderlands_add1.jpg" alt="">
                        </div>
                        <div class="col-12 col-md-6">
                            <img src="~/Assets/images/EpicGameProduct/borderlands_add2.jpg" alt="">
                        </div>
                    </div>
                    <div class="collapse_pic">
                        <div class="col-12">
                            <img src="~/Assets/images/EpicGameProduct/borderlands_add3.jpg" alt="">

                        </div>
                    </div>
                </span>
                <button onclick="SHOWMORE()" class="myBtn" id="Btn_showmore">SHOW MORE</button>
            </div>
        </div>
    </div>
</div>
<!-- 版本------------------------------- -->
@Html.Partial("_Editions")

<!-- 附加------------------------------- -->
@Html.Partial("_AddOns")

<!-- 追蹤------------------------------- -->
@Html.Partial("_Trackus")

<!-- 評論------------------------------- -->
@Html.Partial("_Comments")


<!--規格 ------------------- -->
<div class="container allblock" id="specification">
    <div class="row">
        <div class="col-12 col-xl-3">
            <h3 class="title_name">Specification</h3>
        </div>
        <div class="col-12 col-xl-9">
            <div class="specification_table">
                <table>
                    <div class="title_div">
                        <div class="title_div_div">
                            <span class="span_text">WINDOWS</span>
                        </div>
                        <div>
                            <span class="span_text"></span>
                        </div>
                    </div>
                    <tr>
                        <td>
                            <div><span class="big_title_span">Minimum</span></div>
                        </td>
                        <td>
                            <div><span class="big_title_span">Recommended</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small_title_span"><span>OS</span></div>
                            <span class="span_text">Windows Vista, Windows 7, Windows 10</span>
                        </td>
                        <td>
                            <div class="small_title_span"><span>OS</span></div>
                            <span class="span_text">Windows Vista, Windows 7, Windows 10</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small_title_span"><span>Processor</span></div>
                            <span class="span_text">Intel i3</span>
                        </td>
                        <td>
                            <div class="small_title_span"><span>Processor</span></div>
                            <span class="span_text">Intel i3</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small_title_span"><span>Memory</span></div>
                            <span class="span_text">4 GB RAM</span>
                        </td>
                        <td>
                            <div class="small_title_span"><span>Memory</span></div>
                            <span class="span_text">8 GB RAM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small_title_span"><span>Storage</span></div>
                            <span class="span_text">500 MB available space</span>
                        </td>
                        <td>
                            <div class="small_title_span"><span>Storage</span></div>
                            <span class="span_text">500 MB available space</span>
                        </td>
                    </tr>
                </table>
                <div>
                    <div class="small_title_span"><span>Languages Supported</span></div>
                    <ul>
                        <li class="li_text">
                            AUDIO: English, Chinese - Simplified, Chinese - Traditional, Japanese, French, German,
                            Spanish - Spain, Russian, Turkish, Polish, Portuguese, Italian, Korean
                        </li>
                        <li class="li_text">
                            TEXT: English, Chinese - Simplified, Chinese - Traditional, Japanese, French, German,
                            Italian, Korean, Spanish - Spain, Russian, Turkish, Polish, Portuguese
                        </li>
                    </ul>
                </div>
            </div>
            <div class="privacy_policy">
                <span class="privacy_policy_content">
                    Developed by Tencent Technology(Shanghai) Company Limited. All rights reserved.
                </span>
                <a href="#" class="privacy_policy_a">
                    <span class="privacy_policy_title">Privacy Policy</span>
                </a>
            </div>
        </div>
    </div>
</div>