@model IEnumerable<Epic_Game_Backstage.ViewModels.ActivityViewModel>
@{
    ViewBag.Title = "Index";
}
@section topCSS{
    <link href="~/Assets/css/ActivityManage/Activity.css" rel="stylesheet" />
}
<div class="container activityManage_root">

    <div class="activity_header">
        <div class="activityManage_title text-center">
            <h2><i class="nc-icon nc-tile-56"></i> Activity</h2>
            <hr />
            <p>
                <i class="fa fa-refresh"></i> @Html.ActionLink("Display All", "ordersearchsort")
            </p>
        </div>

        <div class="form-group-root form-group">
            <div class="form-group">
                <p>
                    @Html.Label("Search")@Html.TextBox("search")
                    <input type="submit" value="Search" class="f-group-btn" />
                </p>

            </div>
        </div>
    </div>
    <div class="productManage-create" style="margin-bottom:10px">
            @Html.ActionLink("Create Activity", "Create")
         </div>
    <div class="activity_table">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityID)
                    </td>
                    <td>
                        <div style="width: 135px">
                            <div style="padding-bottom: calc(4/3 * 100%); position: relative">
                                <div class="imgArea" style="background-image: url('@item.Picture');position: absolute; top: 0; height: 100%; width: 100%; background-size: auto 100%; background-repeat: no-repeat; background-position: bottom;"></div>
                            </div>
                        </div>
                    </td>   
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td class="pm-table-buttom">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ActivityID }, new { @class = "pm-table-edit" })
                        @Html.ActionLink("Details", "Details", new { id = item.ActivityID }, new { @class = "pm-table-details" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ActivityID }, new { @class = "pm-table-delete" })

                    </td>
                </tr>
            }

        </table>
    </div>
</div>

